<h1>Saucinwithsnyds</h1>
<p>No more tummy aches</p>

<h4>Login</h4>
<form action="/api/v1/auth/login" method="POST">
    <input type="email">
    <input type="password">
    <input type="submit" value="submit">
</form>