@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#menu-toggle:checked + #menu {
  display: block;
}

.landing {
  height: 90vh;
}

.pacifico {
  font-family: 'Pacifico';
}

@media only screen and (max-width: 768px) {
  footer {
    margin-top: 7.7rem;
  }
}
